#!/usr/bin/make -f
# Copyright (C) 1997-1999 Joey Hess <joeyh@debian.org>
# Copyright (C) 2004-2006 Guillem Jover <guillem@debian.org>

build:
	dh_testdir
	
	$(MAKE)

clean:
	dh_testdir
	dh_testroot
	
	$(MAKE) clean
	rm -f VGABIOS-*.bin
	
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	
	for i in "" .debug .cirrus .cirrus.debug ; do \
		install -m644 $(CURDIR)/VGABIOS-lgpl-latest$$i.bin \
		debian/vgabios/usr/share/vgabios/vgabios$$i.bin ; \
	done

binary-indep: build install
# Nothing to do.

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install

